<!-- <!DOCTYPE HTML> -->
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>About Author</title>
      </head>
      <body>
        {% extends "template.html" %}
        {% block content %}
        <h1> Arti N </h1>
        <p> Curious about the new technology and likes to keep trying hands on them</p>
        <p>A technical lead with 8 years of IT experience in development, maintainence, testing, customizing of applications</p>
        {% endblock %}    
    </body>


</html>